<div class="sheet">
  <div class="flex">
    <div class="init">Init<input />(+5)</div>
    <div>Name</div>
    <div>Clan</div>
  </div>
  <div>
    <app-ability-input label="Health" disabled></app-ability-input>
  </div>
  <div class="flex">
    <div><app-ability-input label="Strength" disabled></app-ability-input></div>
    <div>
      <app-ability-input label="Dexterity" disabled></app-ability-input>
    </div>
    <div><app-ability-input label="Stamina" disabled></app-ability-input></div>
  </div>
  <div><span>Armor</span><input /></div>
  <div class="flex">
    <div><span>Athletics</span><input /></div>
    <div><span>Melee</span><input /></div>
    <div><span>Brawl</span><input /></div>
    <div><span>Archery</span><input /></div>
  </div>
  <div><span>Weapons</span><input /></div>
  <div><span>Disciplines</span><input /></div>
  <div><app-ability-input label="Blood" disabled></app-ability-input></div>
  <div><app-ability-input label="Willpower" disabled></app-ability-input></div>
</div>
