:host {
  display: block;
}
.inputContainer {
  gap: 0.5rem;
  display: flex;
  border-bottom: 1px solid black;
  .input-label {
    white-space: nowrap;
  }
}
input {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.1);
}
