.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    margin-bottom: 5rem;
  }
  form {
    max-width: 20rem;
    .form-input {
      margin-bottom: 1rem;
    }
  }
}
