.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "storyPane characterPane";
  .header {
    grid-area: header;
  }
  .storyPane {
    grid-area: storyPane;
    border: 1px solid black;
    padding: 1rem;
  }
  .characterPane {
    grid-area: characterPane;
    border: 1px solid black;
    padding: 1rem;
  }
}

.panel {
  margin-bottom: 2rem;
  &.join {
    app-form-input {
      width: 20rem;
    }
  }
}
