<div class="container">
  <h1 class="header">Overview</h1>
  <div class="storyPane">
    <h2>Story Vault</h2>
    <div class="panel">
      <h3>Load story</h3>
      <div>
        <app-list
          type="STORY"
          [list]="(storyList$ | async) || []"
          (selected)="goToStory($event)"
        ></app-list>
      </div>
    </div>
    <div class="panel join">
      <h3>Join story</h3>
      Input the story ID you would like to join and wait for the storyteller to
      approve your request.
      <app-form-input></app-form-input>
      <app-button [disabled]="true">Join</app-button>
    </div>
    <div class="panel">
      <h3>Create story</h3>
      <app-button [disabled]="true">Create new story</app-button>
    </div>
  </div>
  <div class="characterPane">
    <h2>Character Vault</h2>
    <div class="panel">
      <h3>Load character</h3>
      <app-list
        type="CHARACTER"
        [list]="(characterList$ | async) || []"
      ></app-list>
    </div>
    <div class="panel">
      <h3>Create character</h3>
      <app-button [disabled]="true">Create new character</app-button>
    </div>
  </div>
</div>
