.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "storyPane characterPane";
  .header {
    grid-area: header;
  }
  .storyPane {
    grid-area: storyPane;
  }
  .characterPane {
    grid-area: characterPane;
  }
}

.panel {
  margin-bottom: 2rem;
}
