.container {
  display: flex;
  flex-direction: column;
}
.item {
  height: 1.25em;
  display: inline-flex;
  gap: 1em;
  box-sizing: border-box;
  border-bottom: 1px hidden red;
  margin-bottom: 2px;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid red;
  }
}

.selected {
  color: red;
}
