.ability-container {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid black;
  padding: 0.2rem;
  .ability-label {
    white-space: nowrap;
  }
  input {
    width: 100%;
  }
}

.specialty {
  &:hover {
    background-color: lightgray;
    transition: background-color 1000ms linear;
  }
}
