/* You can add global styles to this file, and also import other style files */
@import "the-new-css-reset";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0.5em;
  height: 0.75em;
  border: 0.1em solid currentColor;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.35em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em red;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
}
h1 {
  font-size: 3em;
  font-weight: 500;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
